@{
    ViewData["Title"] = "About Joel";
}
<h1>@ViewData["Title"]</h1>

<br />

<div class="text-center">
    <!-- Brief paragraph giving background information -->
    <p>
        Joel Hilton minored in Film Studies at BYU. He currently contracts as a movie reviewer for
        ClearPlay, and does a weekly podcast about films & pop culture called Baconsale.
    </p>

    <br />

    <!-- Link to the QWC -->
    <h2> <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a> </h2>
    <h4> Attend an event at the Quick Wits Comedy where Joel Hilton performs regulary</h4>
    
    <br /><br />

    <!-- Link to the podcast Bacon sale - can be accessed via the image or the link -->
    <a href="https://www.baconsale.com/">
        <img class="baconImg" src="/assets/BaconsaleKate.jpg" />
    </a>
    <br />
    <h2> <a href="https://www.baconsale.com/">Baconsale</a> </h2>
    <h4> Check out Joel's weekly podcast Baconsale where he talks about films & pop culture.</h4>

</div>