@{
    ViewData["Title"] = "Home Page";
}
<!-- Each cshtml page draws off of the shared _layout file-->
<!-- Navigation to home, about Joel page and entering movie collections -->

<!-- Home page with title -->
<h1>The Joel Hilton Film Collection</h1>

<br />

<div class="text-center">

    <br />

    <img src="./assets/JoelHiltonHeadshot.jpg" />
    
    <br />

    <h1 class="display-4">Welcome!</h1>

    <br /> 

    <p>
        Welcome to the Joel Hilton Film Collection, a place to explore and expand your love for cinema.
        Learn more about Joel or contribute by adding your own favorite films to the collection. 
        Start discovering and sharing today!</p>
</div>
